examples/01 - Check if ffmpeg is intalled.json
[
  {
    "id": "6003aec5c30fdd75",
    "type": "ffmpeg",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "outputs": 2,
    "cmdPath": "",
    "cmdArgs": "[\"-version\"]",
    "cmdOutputs": 1,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 660,
    "wires": [
      [],
      [
        "779e2c62c47eea6f"
      ]
    ]
  },
  {
    "id": "30667271b195d4ee",
    "type": "debug",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "version",
    "statusType": "msg",
    "x": 780,
    "y": 660,
    "wires": []
  },
  {
    "id": "cdd59148788fc94f",
    "type": "inject",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 660,
    "wires": [
      [
        "6003aec5c30fdd75"
      ]
    ]
  },
  {
    "id": "779e2c62c47eea6f",
    "type": "function",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "func": "msg.payload = msg.payload.toString().split('\\n', 1)[0];\n\nmsg.version = msg.payload.split(' ')[2];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 660,
    "wires": [
      [
        "30667271b195d4ee"
      ]
    ]
  },
  {
    "id": "5250be3201db5d69",
    "type": "ffmpeg",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "outputs": 2,
    "cmdPath": "",
    "cmdArgs": "[]",
    "cmdOutputs": 1,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 820,
    "wires": [
      [],
      [
        "cc1329d8ed041e4b"
      ]
    ]
  },
  {
    "id": "e8e054ce16520fa2",
    "type": "debug",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "version",
    "statusType": "msg",
    "x": 780,
    "y": 820,
    "wires": []
  },
  {
    "id": "700f9e028971c929",
    "type": "inject",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\",\"args\":[\"-version\"]}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 820,
    "wires": [
      [
        "5250be3201db5d69"
      ]
    ]
  },
  {
    "id": "cc1329d8ed041e4b",
    "type": "function",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "func": "msg.payload = msg.payload.toString().split('\\n', 1)[0];\n\nmsg.version = msg.payload.split(' ')[2];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 820,
    "wires": [
      [
        "e8e054ce16520fa2"
      ]
    ]
  },
  {
    "id": "a872aab1aab7d80d",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Output ffmpeg version by setting args.",
    "info": "",
    "x": 190,
    "y": 600,
    "wires": []
  },
  {
    "id": "e465a5c35e0786d9",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Output ffmpeg version by injecting args.",
    "info": "",
    "x": 190,
    "y": 760,
    "wires": []
  },
  {
    "id": "9ae8a0f0a95eefe3",
    "type": "ffmpeg",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "outputs": 3,
    "cmdPath": "",
    "cmdArgs": "[]",
    "cmdOutputs": 2,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 1300,
    "wires": [
      [],
      [],
      [
        "7878403986d2b22d"
      ]
    ]
  },
  {
    "id": "bba80ebc3f16df77",
    "type": "debug",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 1300,
    "wires": []
  },
  {
    "id": "7c9e544db30abf72",
    "type": "inject",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\",\"args\":[\"-hide_banner\",\"-bad_arg\"]}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 1300,
    "wires": [
      [
        "9ae8a0f0a95eefe3"
      ]
    ]
  },
  {
    "id": "54d415457b1bbb6f",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Output ffmpeg error message to stderr by injecting bad args.",
    "info": "",
    "x": 260,
    "y": 1240,
    "wires": []
  },
  {
    "id": "7878403986d2b22d",
    "type": "function",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "func": "msg.payload = msg.payload.toString();\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 1300,
    "wires": [
      [
        "bba80ebc3f16df77"
      ]
    ]
  },
  {
    "id": "391757583541b551",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "FFMPEG IS NOT INCLUDED WITH THIS NODE. IT MUST BE INSTALLED SEPARATELY.",
    "info": "",
    "x": 340,
    "y": 60,
    "wires": []
  },
  {
    "id": "fea07833bf049d7f",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Trigger ENOENT error by setting bad path.",
    "info": "",
    "x": 200,
    "y": 280,
    "wires": []
  },
  {
    "id": "5ab8cd9c64630dba",
    "type": "inject",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 340,
    "wires": [
      [
        "c70910a7cc8b67f1"
      ]
    ]
  },
  {
    "id": "c70910a7cc8b67f1",
    "type": "ffmpeg",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "outputs": 2,
    "cmdPath": "bad/path/to/ffmpeg",
    "cmdArgs": "[\"-version\"]",
    "cmdOutputs": 1,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 340,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "b5675cead39a47e8",
    "type": "ffmpeg",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "outputs": 2,
    "cmdPath": "",
    "cmdArgs": "[]",
    "cmdOutputs": 1,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 980,
    "wires": [
      [],
      [
        "7409d57cc0f53d14"
      ]
    ]
  },
  {
    "id": "a7deb3e64aa45bb1",
    "type": "debug",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "version",
    "statusType": "msg",
    "x": 780,
    "y": 980,
    "wires": []
  },
  {
    "id": "a3aa67c6bbeba9be",
    "type": "inject",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\",\"path\":\"ffmpeg\",\"args\":[\"-version\"],\"signal\":\"SIGKILL\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 980,
    "wires": [
      [
        "b5675cead39a47e8"
      ]
    ]
  },
  {
    "id": "7409d57cc0f53d14",
    "type": "function",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "func": "msg.payload = msg.payload.toString().split('\\n', 1)[0];\n\nmsg.version = msg.payload.split(' ')[2];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 980,
    "wires": [
      [
        "a7deb3e64aa45bb1"
      ]
    ]
  },
  {
    "id": "4114fad2d106f16e",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Output ffmpeg version by injecting path, args, and signal.",
    "info": "",
    "x": 250,
    "y": 920,
    "wires": []
  },
  {
    "id": "af9fcc73d531275e",
    "type": "ffmpeg",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "outputs": 2,
    "cmdPath": "",
    "cmdArgs": "[\"-version\"]",
    "cmdOutputs": 1,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 500,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "9eb17ed9f728c75f",
    "type": "inject",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\",\"path\":\"bad/path/to/ffmpeg\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 500,
    "wires": [
      [
        "af9fcc73d531275e"
      ]
    ]
  },
  {
    "id": "d6f8ad6d021ceaca",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Trigger ENOENT error by injecting bad path.",
    "info": "",
    "x": 210,
    "y": 440,
    "wires": []
  },
  {
    "id": "740b832637dbb0ab",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "ENOENT error indicates that ffmpeg is not installed or its path is incorrect.",
    "info": "",
    "x": 300,
    "y": 140,
    "wires": []
  },
  {
    "id": "74a1b34b1f1e86ca",
    "type": "ffmpeg",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "outputs": 3,
    "cmdPath": "",
    "cmdArgs": "[\"-hide_banner\",\"-bad_arg\"]",
    "cmdOutputs": 2,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 1140,
    "wires": [
      [],
      [],
      [
        "ca613107e8f1befd"
      ]
    ]
  },
  {
    "id": "a84dc3cc63cbd1a1",
    "type": "debug",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 1140,
    "wires": []
  },
  {
    "id": "36b78d378a82372a",
    "type": "inject",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 1140,
    "wires": [
      [
        "74a1b34b1f1e86ca"
      ]
    ]
  },
  {
    "id": "7d93d475fd63767f",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Output ffmpeg error message to stderr by setting bad args.",
    "info": "",
    "x": 250,
    "y": 1080,
    "wires": []
  },
  {
    "id": "ca613107e8f1befd",
    "type": "function",
    "z": "429e3fe9c6d7212f",
    "name": "",
    "func": "msg.payload = msg.payload.toString();\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 1140,
    "wires": [
      [
        "a84dc3cc63cbd1a1"
      ]
    ]
  },
  {
    "id": "fc74f48844cdc34e",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "Settings for path, args, and signal can be individually overridden by injecting them.",
    "info": "",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "49f0c36022562abc",
    "type": "comment",
    "z": "429e3fe9c6d7212f",
    "name": "For help, publicly tag me in the Node-RED forum @kevinGodell.",
    "info": "`@kevinGodell`",
    "x": 270,
    "y": 180,
    "wires": []
  }
]
